 Enter your Styles below! */


body { 
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	 }

nav {
text-align: right;
margin: 0px 80px ;
padding: 10px 0;
padding-bottom: 5px;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 20px 20px;
margin-left:-10px;}
nav a{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}


.title {font-family:'Playfair Display', serif;
font-size : 80px;
text-align: left;
padding-top: 60px;
padding-bottom:20px; 
margin-left: 80px; 
color:#C71585;
}

.contact {
font-family:'Playfair Display', sans-serif;
font-size : 20px;
text-align: center;
line-height: 25px;
color:#C71585;
margin-left:100px;
}

.info {
font-family:'Montserrat', sans-serif;
font-size : 14px;
text-align: center;
line-height: 20px;
color:black;
margin-left:100px;

}

.about {font-family:'Montserrat', sans-serif;
font-size : 16px;
text-align: left;
line-height: 25px;
color:black;
margin-left:80px;}

.about {max-width: 850px;}


blockquote {
	margin: 20px 60px;
	font-family: 'Montserrat', sans-serif;}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
.home .long img { width: 100%;
}
.home .bun img { width: 100%;
}
.home .salon img { width:100%;
}
/*
 	.home .grid2 img
 	{padding-top: 50px;
 	padding-left: 80px;}*/
 


a { 
	color:#C71585 ;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

/*img {
width: 100%;
padding-top: 5px}*/



}
@media only screen and (min-width: 768px ){
	body {
		background-color: skyblue;
	}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 70%;

}
@media only screen and (min-width: 1024px ){
	body {
		background-color: salmon;
	}

@media only screen and (min-width: 1200px ){
	body {
		background-color: white;
	}
